
header {
    padding: 0 10px;
    & .top-bar {
        padding-top: 20px;
    }
    & .nav-panel {
        display: none;
    }


    & .burger-menu {


        width: 100%;
        height: 100%;
        top: 0;

        & .burger-button {
            position: absolute;
            right: 40px;
            top: -25px;
            width: 100px;
            height: 100px;
            background-color: #f2f2f2;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }

        & .burger-list-container {
            display: flex;
            flex-direction: column;
            position: fixed;
            height: 100%;
            width: 100%;
            overflow: scroll;
            left: 100%;
            z-index: 9999;
            background-color: #fff;
            transition: all 0.5s ease;
            top: 0;
            &.active {
                left: 10%;
            }

            & .close {
                position: absolute;
                top: 50px;
                right: 70px;

                &:before {
                    content: "";
                    display: block;
                    width: 30px;
                    border-bottom: 1px solid #727272;
                    transform: rotateZ(45deg);
                }

                &:after {
                    content: "";
                    display: block;
                    width: 30px;
                    border-bottom: 1px solid #727272;
                    transform: rotateZ(-45deg);
                }
            }

            & .item-list {
                margin-top: 80px;

                & li {
                    padding: 20px 0;
                    margin-left: 20px;
                    border-bottom: 1px solid #e6e6e6;

                    &:last-child {
                        border: none;
                    }
                }

                & .accordion {
                    position: relative;

                    & #burger-menu-show-btn {
                        position: relative;

                        &:after {
                            content: "";
                            position: absolute;
                            right: -20px;
                            top: 5px;
                            display: block;
                            width: 10px;
                            height: 10px;
                            border-bottom: 1px solid #9a9a9a;
                            border-right: 1px solid #9a9a9a;
                            transform: rotateZ(45deg);
                            transition: all 0.3s ease;
                        }
                    }

                    & .accordion-list-items {
                        height: 0;
                        overflow: hidden;
                        transition: all 0.5s ease;

                        &.active {
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
    & .bread{
        margin-top: 70px;
    }
}

.main-container{

    & #preview-container {
        padding: 0 10px;

        & .invalid {
            display: flex;
            flex-direction: row;
            column-gap: 90px;
            margin-top: 40px;
            & #image-carousel-container {
                & #image-carousel-holder {
                    margin-top: 40px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    column-gap: 30px;
                    & #main-image {
                        width: 160px;
                        height: 300px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        & img {
                            width: auto;
                            height: auto;
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }

                    & #source-images {
                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;

                        & .source-image-holder {
                            background-color: #e6e6e6;
                            width: 67px;
                            height: 67px;
                            padding: 10px 4px;
                            display: flex;
                            align-self: center;
                            justify-content: center;

                            & img {
                                width: auto;
                                height: auto;
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                    }
                }
            }

            & .main-info {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                justify-content: center;
                align-items: flex-start;

                & .main-name {
                    display: flex;
                    flex-direction: column;

                    & #name {
                        font-weight: 400;
                        font-size: 30px;
                        line-height: 120%;
                        letter-spacing: 0.02em;
                        text-align: start;
                    }

                    & #material {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 130%;
                        letter-spacing: 0.04em;
                        text-align: start;
                        color: #727272;
                    }
                }

                & .main-price {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    justify-content: flex-start;
                    align-items: flex-start;

                    & .price {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 130%;
                        letter-spacing: 0.02em;
                        color: #070707;
                    }

                    & .sale {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 120%;
                        letter-spacing: 0.02em;
                        text-decoration: line-through;
                        color: #9a9a9a;
                    }
                }

                & .sale-banner {

                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    justify-content: center;
                    align-items: flex-start;

                    & .banner {
                        background: #F64646;
                        padding: 10px 40px;
                        color: #fff;
                    }

                    & #time-left {
                        font-size: 10px;
                        line-height: 130%;
                        letter-spacing: 0.04em;
                        text-align: start;
                        color: #727272
                    }
                }

                & .sizing-button-container {

                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    & .button-text {
                        position: absolute;
                        width: 95%;
                        bottom: 40%;
                        right: 0;
                        text-align: center;

                        & span {
                            font-size: 13px;
                            line-height: 130%;
                            letter-spacing: 0.04em;
                            text-align: center;
                        }
                    }

                    & #ring {
                        position: relative;
                        top: 0;
                        width: 130px;
                        height: 130px;
                        overflow: visible;
                        transform: rotateZ(15deg);

                        & #ring__circle {
                            r: 65px;
                            cx: 65px;
                            cy: 65px;
                            stroke-dasharray: calc(90 * 2 * 3.14);
                            stroke-dashoffset: calc((90 * 2 * 3.14) - (65 / 100 * (90 * 2 * 3.14)));
                            transition: all 0.5s ease;

                            &:hover {
                                stroke-dashoffset: calc((90 * 2 * 3.14) - (0 / 100 * (90 * 2 * 3.14)));
                            }
                        }
                    }

                    & #arrow {
                        position: absolute;
                        top: 50%;
                        left: 100%;
                        width: 50px;
                        border-bottom: 1px solid #0222A5;

                        &:after {
                            content: "";
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            border-bottom: 1px solid #0222A5;
                            border-right: 1px solid #0222A5;
                            transform: rotateZ(-45deg);
                            right: 0;
                            top: -4px;
                        }
                    }
                }

                & .consult-button-container {
                    margin-top: 10px;
                    padding: 10px 30px;
                    border-bottom: 1px solid #C7C7C7;
                    border-top: 1px solid #C7C7C7;

                    &:hover {
                        border-color: #0222A5;
                    }
                }
            }
        }

        & .road-map {
            margin-top: 90px;
            display: flex;
            flex-direction: row;
            column-gap: 30px;

            & .road-map-item {
                display: flex;
                flex-direction: column;
                row-gap: 30px;

                & .number {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 130%;
                    letter-spacing: 0.02em;
                    color: #0222A5;
                }

                & .item-text {
                    font-weight: 300;
                    font-size: 11px;
                    line-height: 130%;
                    letter-spacing: 0.04em;
                }

                &:not(:last-child) {
                    border-right: 1px solid #C7C7C7;
                    padding-right: 25px
                }
            }
        }
    }

    & .privileges {
        background-color: #f2f2f2;
        margin-top: 100px;

        & .bread {
            padding: 30px 10px 0 10px;
            margin-bottom: 30px;
        }

        & .privileges-container {
            padding: 30px 10px 0 10px;

            & .privileges-item {
                padding: 30px 0;
                border: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                & .image-holder{
                    padding: 20px 0 20px 90px;
                }
                &:not(:last-child) {
                    border-bottom: 1px solid #C7C7C7;
                }
                &:nth-child(:last-child) {
                    border: none;
                }
                & .description {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    margin-bottom: 10px;
                    width: 385px;
                    & .item-title {
                        font-size: 18px;
                        line-height: 130%;
                        letter-spacing: 0.02em;
                    }

                    & .item-description {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 130%;
                        letter-spacing: 0.04em;
                        color: #222;
                    }
                }
            }
        }

        & #so-hard-menu-container {
            background-color: #fff;
            padding: 30px 0;

            & .main-hard-menu-container {
                & .top-bar-btn-container {
                    display: flex;
                    align-items: stretch;
                    padding: 0 10px;

                    & .top-bar-btn {
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                        flex: 1;
                        font-size: 11px;
                        line-height: 130%;
                        letter-spacing: 0.04em;
                        text-align: center;
                        font-family: "SF Pro Display 400", sans-serif;

                        & .btn-primary {
                            padding: 10px 10px;

                            &.active {
                                color: #e6e6e6;
                                background-color: #222;
                            }
                        }

                        &:not(:last-child) {
                            border-right: 1px solid #000;
                        }

                        & .horizontal-divider {
                            border-top: 1px solid #000;
                            width: 100%;

                        }
                    }
                }

                & .menu-display {
                    & .hard-item {
                        display: none;

                        &.hard-active {
                            display: flex;
                            flex-direction: column;
                        }
                    }

                    & #parameters {
                        padding: 0 10px;

                        & .links-buttons {
                            display: flex;
                            flex-direction: row;

                            overflow: scroll;
                            font-size: 10px;
                            line-height: 130%;
                            letter-spacing: 0.04em;
                            font-family: "SF Pro Display 400", sans-serif;

                            & .param-category-link {
                                border-bottom: 1px solid #C7C7C7;

                                & span {
                                    display: inline-block;
                                    width: max-content;
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                    padding: 10px 10px;
                                }

                                &.active {
                                    border-bottom: 1px solid #222;
                                }
                            }
                        }

                        & .context-display {
                            & .param-category-display {
                                display: none;

                                &.active {
                                    display: flex;
                                    flex-direction: column;
                                    margin-top: 10px;

                                    & li {
                                        padding: 5px 0;

                                        & .item-container {
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: flex-start;
                                            row-gap: 5px;
                                            align-items: stretch;

                                        }

                                        &:nth-child(odd) {
                                            background-color: #e6e6e6;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    & #warranty {
                        padding: 0 10px;

                        & .warranty-container {
                            display: flex;
                            flex-direction: column;
                            row-gap: 20px;

                            & .title-container {
                                & .title {
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 130%;
                                    letter-spacing: 0.02em;
                                }

                                & .title-text {
                                    display: none;
                                }
                            }

                            & .warranty-description {
                                display: flex;
                                flex-direction: column;

                                & .description-item {
                                    display: flex;
                                    flex-direction: column;

                                    & .title {
                                        color: #0222A5;
                                        font-size: 14px;
                                        margin-bottom: 10px;
                                    }

                                    & .items-container {
                                        display: flex;
                                        flex-direction: column;

                                        & .item {
                                            padding: 10px 0;
                                            border-top: 1px solid #e6e6e6;
                                            font-size: 10px;
                                            line-height: 130%;
                                            letter-spacing: 0.04em;

                                            &:nth-child(first-child) {
                                                border: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    & #delivery {
                        margin-top: 20px;

                        & .delivery-top-container {
                            background-color: #010101;
                            color: #fff;
                            display: flex;
                            flex-direction: row;
                            align-items: stretch;
                            justify-content: center;

                            & .text-info {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: stretch;
                                padding: 0 0 0 40px;

                                & .title {
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 130%;
                                    letter-spacing: 0.02em;
                                    font-family: "SF Pro Display 400", sans-serif;
                                }

                                & .description {
                                    margin-top: 10px;
                                    font-family: "SF Pro Display 400", sans-serif;
                                    font-size: 12px;
                                    line-height: 130%;
                                    letter-spacing: 0.04em;
                                    color: #727272
                                }

                                & .consult-btn {
                                    font-size: 14px;
                                    line-height: 130%;
                                    letter-spacing: 0.02em;
                                    margin-top: 50px;
                                    position: relative;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    width: 85%;
                                    border-bottom: 1px solid #fff;
                                    padding-bottom: 10px;

                                    & .main-arrow {

                                        width: 5px;
                                        height: 5px;
                                        right: 0;
                                        bottom: -3px;
                                        border-bottom: 1px solid #fff;
                                        border-right: 1px solid #fff;
                                        transform: rotateZ(-45deg);
                                        position: absolute;

                                        &:after {
                                            content: "";
                                            position: absolute;
                                            width: 50px;
                                            height: 50px;
                                            border: 1px solid #fff;
                                            border-radius: 50%;
                                            top: -22px;
                                            left: -22px;
                                            transform: rotateZ(45deg);
                                        }

                                    }
                                }
                            }

                            & .img-holder {
                                overflow: hidden;
                                display: grid;
                                width: -webkit-fill-available;

                                & img {
                                    width: auto;
                                    height: 340px;
                                    max-width: max-content;
                                    max-height: 100%;
                                }
                            }
                        }

                        & .delivery-bottom-container {
                            padding: 0 10px;
                            margin-top: 40px;

                            & .content {
                                display: flex;
                                flex-direction: column;

                                & .title {
                                    font-size: 14px;
                                    line-height: 130%;
                                    letter-spacing: 0.02em;
                                    padding-bottom: 20px;
                                }

                                & .info {
                                    border-top: 1px solid #e6e6e6;
                                    border-bottom: 1px solid #e6e6e6;
                                    padding: 10px 0;
                                    font-size: 12px;
                                    line-height: 130%;
                                    letter-spacing: 0.04em;
                                    margin-bottom: 10px;
                                }

                                & .price-for-km {
                                    display: flex;
                                    flex-direction: column;

                                    & .price-info {
                                        font-size: 12px;
                                        line-height: 130%;
                                        letter-spacing: 0.04em;
                                    }

                                    & .price-btn {
                                        text-align: center;
                                        background-color: #e6e6e6;
                                        padding: 10px 0;
                                        font-size: 14px;
                                        line-height: 130%;
                                        letter-spacing: 0.02em;
                                        margin: 15px 0;
                                    }

                                    & .info-delivery {
                                        color: #0222A5;
                                        font-size: 12px;
                                        line-height: 130%;
                                        letter-spacing: 0.04em;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }


        & .extensions-container {
            margin-top: 30px;
            padding-bottom: 40px;
            & .extensions-title {
                font-size: 20px;
                line-height: 120%;
                letter-spacing: 0.02em;

            }

            & .extensions-catalogs {
                display: flex;
                flex-direction: row;
                overflow: scroll;
                column-gap: 10px;
                margin-top: 40px;

                & .extensions-catalog-item {
                    display: flex;
                    flex-direction: column;
                    flex: none;

                    & .locks-catalog {
                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;

                        & .catalog-btn {
                            overflow: hidden;
                            position: relative;

                            & .decor-btn {

                                position: absolute;
                                width: 40px;
                                height: 40px;
                                background-color: #0222A5;
                                left: 0;
                                bottom: 0;

                                &:after {
                                    content: "";
                                    position: absolute;
                                    width: 10px;
                                    height: 10px;
                                    border-bottom: 1px solid #fff;
                                    border-right: 1px solid #fff;
                                    transform: rotateZ(-45deg);
                                    bottom: 15px;
                                    left: 12px;
                                }
                            }

                            &:active {
                                & .decor-btn {
                                    background-color: #010101
                                }
                            }

                            &:hover {
                                & img {
                                    transition: all 0.3s ease-in-out;
                                    transform: scale(120%, 120%);
                                }
                            }
                        }
                    }
                }

            }

            & .more-extensions {
                margin-top: 40px;
                padding: 0 10px;

                & .title {
                    font-size: 18px;
                    line-height: 130%;
                    letter-spacing: 0.02em;
                }

                & .more-extensions-container {
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;

                    & div {
                        display: flex;
                        flex-direction: column;

                        & .item {
                            padding: 10px 0;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            &:not(:last-child) {
                                border-bottom: 1px solid #e6e6e6;
                            }
                        }
                    }
                }
            }
        }
        & .how-work{
            background-color: #fff;
            padding: 80px 10px 100px 10px;
            & .how-work-title{
                font-size: 20px;
                line-height: 120%;
                letter-spacing: 0.02em;
            }
            & .road-map{
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                row-gap: 15px;
                & .road-map-item {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    &:not(:last-child) {
                        border-bottom: 1px solid #e6e6e6;
                        padding-bottom: 15px;
                    }
                    & .number{
                        color: #0222A5;
                        font-size: 12px;
                        line-height: 130%;
                        letter-spacing: 0.04em;
                    }
                    & .container{
                        display:flex;
                        flex-direction: column;
                        row-gap: 10px;
                        & .title{
                            font-size: 12px;
                            line-height: 130%;
                            letter-spacing: 0.04em;
                        }
                        & .item-text{
                            font-size: 10px;
                            line-height: 130%;
                            letter-spacing: 0.04em;
                        }
                    }
                }
            }
        }
        & .visualization{
            background-color: #010101;
            padding: 0 10px;
            & .visualisation-container {
                display: flex;
                flex-direction: column-reverse;
                row-gap: 20px;
                & .visualisation-text{

                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                    width: 80%;
                    padding-bottom: 80px;
                    & .title{
                        font-size: 20px;
                        line-height: 120%;
                        letter-spacing: 0.02em;
                        color: #f2f2f2;
                    }
                    & .text{
                        font-size: 12px;
                        line-height: 130%;
                        letter-spacing: 0.04em;
                        font-family: "SF Pro Display 100", sans-serif;
                        color:#C7C7C7;
                    }
                    & .visualization-consult-btn{
                        margin-top: 30px;
                        & .consult-but.text{
                            font-size: 16px;
                            line-height: 130%;
                            letter-spacing: 0.02em;
                        }
                        & .main-arrow-item{
                            border-bottom: 1px solid #c7c7c7;
                            width: 70%;
                            padding-top: 10px;
                            position: relative;
                            & .circle{
                                width: 40px;
                                height: 40px;
                                border: 1px solid #c7c7c7;
                                border-radius: 50%;
                                position: absolute;
                                right: -20px;
                                bottom:-20px;
                                &:after{
                                    content:'';
                                    position:absolute;
                                    width: 10px;
                                    height: 10px;
                                    border-bottom: 1px solid #c7c7c7;
                                    border-right: 1px solid #c7c7c7;
                                    transform: rotateZ(-45deg);
                                    top: 40%;
                                    right: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
        & .road-map.payment{
            padding: 0 10px;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            background-color: #fff;
            padding-bottom: 100px;
            & .title{
                font-size: 20px;
                line-height: 120%;
                letter-spacing: 0.02em;
            }
            & .road-map.container{
                display: flex;
                flex-direction: column;
                row-gap: 15px;
                & .road-map-item {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                    & .number {
                        color: #0222A5;
                    }

                    & .item-text {
                        width: 80%;
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid #C7C7C7;
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }
}

footer {
    background-color: #010101;
    padding: 0 10px;

    & .content {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        row-gap: 20px;

        & .f {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            & .company-name {
                font-family: 'Robodron', sans-serif;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0.1em;
                color: #222;
            }

            & .mobile-phone {
                display: flex;
                flex-direction: column;
                font-size: 14px;
                row-gap: 10px;
                line-height: 130%;
                letter-spacing: 0.04em;
                font-family: 'SF Pro Display 400', sans-serif;
                color: #f2f2f2;

                & span {
                    font-size: 12px;
                    line-height: 130%;
                    letter-spacing: 0.04em;
                    color: #727272;

                }
            }

            & .social-club {
                & a {
                    color: #F64646;
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        height: 10px;
                        border-right: 1px solid #F64646;
                        transform: rotateZ(45deg);
                        bottom: 0;
                        right: -15px;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        height: 10px;
                        width: 10px;
                        border-right: 1px solid #F64646;
                        border-top: 1px solid #F64646;
                        bottom: 4px;
                        right: -23px;
                    }
                }
            }
        }
    }

    & .footer-navigation {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.04em;

        & ul {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            & a {
                color: #c7c7c7;
            }
        }
    }

    & .documentation {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        & a {
            color: #727272;
        }
    }
}
