header,
#preview-container, 
.privileges-container,
.extensions-container,
#so-hard-menu-container,
.privileges span.bread,
.how-work,
.visualization,
.road-map.payment{
    padding: 0 200px;
}
.nav-panel{
    display: block;
}
.nav-panel .item-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
}
.nav-panel .item-list .triangle{
    position: relative;
}
.nav-panel .item-list .triangle:after{
    content: '';
    position: absolute;
    right: -17px;
    bottom: 0;
    border: 4px solid transparent;
    border-top: 8px solid #010101;
}

.burger-menu{
    display: none;
}
.burger-button{
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.burger-button:before{
    content:"";
    display: block;
    width: 118px;
    height: 118px;
    background-color: #f2f2f2;
    position: relative;
    border-radius: 50%;
    transition: all 0.1s ease-in;

}

.burger-menu:active{
    .burger-button:before{
        width: 100px;
        height: 100px;
    }
    .burger-button span{
        font-size: 15px;
    }
}
.burger-button span {
    color: #222;
    font-size: 14px;
    position: absolute;
    transition: all 0.1s ease-in;

}
.close {
    width: 26.87px;
    height: 26.87px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    right: -65%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}
.close:before,
.close:after {
    content: '';
    display: block;
    width: 37px;
    height: 1px;
    background-color: #c7c7c7;
    position: relative;
    cursor: pointer;
}
.close:before{
    transform: rotate(-45deg);
    top: 0;
    left: 0;
}
.close:after{
    transform: rotate(45deg);*
top: 100%;
    left: 0;
}
.burger-list-container{
    left: 100%;
    height: 100%;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    background-color: #fefefe;
    transition: all 0.5s ease;
}
.burger-list-container.active{
    left: 20%;
}

.burger-list-container .item-list li{
    padding-bottom: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
    border-bottom: 1px solid #e6e6e6;
    width: 95%;
    cursor: pointer;
}
.burger-list-container .item-list li.accordion{
    position: relative;
    transition: all 0.5s ease;
}
.burger-list-container .item-list li.accordion:before{
    content:"";
    position:absolute;
    left: 65px;
    top: 4px;
    width:8px;
    height: 8px;
    transform: rotate(45deg);
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
}
.accordion-list-items{
    height: 0;
    overflow: auto;
    transition: all 0.5s ease;
}
.accordion-list-items li{
    margin-bottom: 5px;
}
.accordion-list-items.active{
    padding-top: 15px;
    overflow: hidden;
    height: 210px;
    .accordion:before{
        transform: rotate(-45deg)
    }
}
.burger-list-container .item-list li:last-child{
    padding-top: 12px;
}
.burger-list-container .item-list li:last-child,
.burger-list-container .item-list li:nth-child(5){
    border: none;
}

.burger-list-container .item-list li:last-child a{
    color: #0222A5;

    /* Txt / extra small light */
    font-family: "SF Pro Display 300";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.56px;
}
.item-list{
    position: relative;
}
.burger-list-container .item-list li .main-arrow-item{
    border-bottom: 1px solid #0222A5;
    height: 1px;
    width: 95%;
    left:0;
    position: relative;
    transition: all 0.4s ease-in;

}
.burger-list-container .main-arrow-item:before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    right: 0;
    top: -2.5px;
    transform: rotate(-45deg);
    border-bottom: 1px solid #0222A5;
    border-right: 1px solid #0222A5;
    z-index: 0;
}
.burger-list-container .main-arrow-item .circle{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
}
.burger-list-container .main-arrow-item .circle:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border:1px solid #0222A5;
    border-radius: 50%;
}



.consult-but {
    display: none;
}

.consult-but.text {
    font-size: 14px;
    letter-spacing: 0.56px;
    font-family: "SF Pro Display 300";
    border: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-bottom: 13px;
}
.main-arrow-item{
    border-bottom: 1px solid #0222A5;
    height: 1px;
    width: 97%;
    right: 20px;
    position: absolute;
    transition: all 0.4s ease-in;

}
.main-arrow-item:before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    right: 0;
    top: -2.5px;
    transform: rotate(-45deg);
    border-bottom: 1px solid #0222A5;
    border-right: 1px solid #0222A5;
    z-index: 0;
}
.main-arrow-item .circle{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
    right: -25px;
}
.main-arrow-item .circle:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border:1px solid #0222A5;
    border-radius: 50%;
}
.consult-but:hover {
    .main-arrow-item{
        width: 60%;
    }
}



div.bread{
    margin-top: 180px;
}



#preview-container{
    border-top: 1px solid #e6e6e6;
    margin-top: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 210px;
}

.main-name{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
#name{
    font-size: 36px;
}
#material{
    font-size:14px;
    color: #727272;
}

.main-price{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
#price{
    font-size: 20px;
}
#price.sale{
    font-size: 14px;
    color: #727272;
    text-decoration: line-through;
}
#sale{
    font-size: 20px;
}

.sale-banner{
    margin-top: 45px;
}
.sale-banner .banner{
    padding: 15px 45px;
    background: #F64646;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
#time-left{
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #727272;
}


.invalid{
    display: flex;
    column-gap: 180px;
}
#image-carousel-holder{
    column-gap: 20px;
}
#main-image{
    height: 550px;
}
#main-image img{
    height: 100%;
}
#source-images{
    row-gap: 20px
}
.source-image-holder {
    position: relative;
    height: 110px;
    background: #f2f2f2;
    padding: 20px;
}
.source-image-holder img{
    height: 100%
}


.sizing-button-container{
    margin-top: 30px;
    padding: 20px;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}


#ring{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateZ(25deg);
}
#ring__circle{
    stroke-dasharray: calc(90 * 2 * 3.14);
    stroke-dashoffset: calc((90 * 2 * 3.14) - (85 / 100 * (90 * 2 * 3.14)));
    transition: all 0.5s ease;
}
#ring__circle:hover{
    stroke-dashoffset: calc((90 * 2 * 3.14) - (0 / 100 * (90 * 2 * 3.14)));
}
.sizing-button-container:hover{
    &.sizing-button-container .button-text span{
        color: #0222A5;
    }
}
#arrow{
    position: absolute;
    border-bottom: 1px solid #0222A5;
    top: 50%;
    right: -40%;
    width: 75px
}
#arrow:after{
    content: "";
    position: absolute;
    border-bottom: 1px solid #0222A5;
    border-right: 1px solid #0222A5;
    transform: rotateZ(315deg);
    width: 5px;
    height: 5px;
    right: 0;
    top: -2px;
}

.consult-button-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    bottom: 0;
    padding: 10px 10px;
    border-bottom: 1px solid #c7c7c7;
    border-top: 1px solid #c7c7c7;
    cursor: pointer;
}
.consult-button-container:hover{
    border-color: #0222A5;
}
.consult-button-container:active{
    border-color: #222
}


.road-map{
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    column-gap: 35px;
}
.road-map-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 60px;
    border-right: 1px solid #c7c7c7;
    padding: 0 20px 0 0;
}
.road-map-item:last-child{
    border: none;
    padding-right: 0;
}
.road-map-item .number{
    color: #0222A5;
    width: 100%;
}
.road-map.payment .road-map-item .item-text{
    width: 20vw;
}

.privileges{
    background-color: #f2f2f2;
    margin-top: 200px;
}
.privileges .bread{
    margin: 0;
    padding-top: 50px;
}

.privileges-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.privileges-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #c7c7c7;
    padding-bottom: 50px;
}
.privileges-item:last-child{
    border: none;
}
.privileges-item .description{
    display: flex;
    flex-direction: column;
    & .item-title{
        font-size: 30px;
        margin-bottom: 10px;
    }
    & .item-description{
        font-size: 14px;
        width: 19vw;
    }
}


/*---------------------------------------*/

#so-hard-menu-container{
    height: 500px;
    background-color: #fff;
}

/*---------------------------------------*/

.extensions-container{
    margin-top: 100px;
    background-color: #f2f2f2;
}
.extensions-title{
    margin-top: 50px;
    font-size: 30px;
}
.extensions-catalogs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.locks-catalog{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.extensions-catalog-item{
    display: flex;
    position: relative;
}
.catalog-btn{
    width: 200px;
    height: 200px;
    overflow: hidden;
    
}
.catalog-btn:hover{
    & img{
        transition: all 0.5s ease;
        transform: scale(120%, 120%);
    }
}
.catalog-btn:active{
    & .decor-btn{
        background-color: #222;
    }
}
.decor-btn{
    width: 50px;
    height: 50px;
    background-color:#0222A5;
    position: absolute;
    bottom: 0;
    left: 0;
}
.decor-btn:after{
    content: "";
    position: absolute;
    top: 35%;
    right: 45%;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 20px;
    height: 20px;
    transform: rotateZ(-45deg);
}
.more-extensions{
    margin-top: 200px;
    padding-bottom: 50px;
}
.more-extensions .title{
    font-size: 24px;
    
}
.more-extensions-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}
.more-extensions-container .left-side,
.more-extensions-container .right-side{
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    
}
.more-extensions-container .item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.more-extensions-container .left-side .item:last-child,
.more-extensions-container .right-side .item:last-child{
    border: none;
}


.how-work{
    background-color: #fff;
    padding-top: 200px;
    padding-bottom: 200px;
}
.how-work-title{
    font-size: 30px;
}
.how-work .container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-wrap: wrap;
}
.how-work .container .title{
    font-size: 18px;
}
.how-work .container .item-text{
    font-size: 14px;
}


.visualization{
    background-color: #010101;
    color: #f2f2f2;
    padding: 80px 200px;
}
.visualisation-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.visualisation-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    & .title{
        font-size: 28px;
        margin-bottom: 20px;
    }
    & .text{
        font-size: 14px;
        margin-bottom: 30px;
    }
    & *{
        width: 20vw;
    }
}

.visualization-consult-btn{
    position: relative;
}

.visualization-consult-btn .main-arrow-item{
    right: 0;
    border-color: #f2f2f2;
}
.visualization-consult-btn .main-arrow-item:before,
.visualization-consult-btn .main-arrow-item .circle:before{
    border-color: #f2f2f2;
}

.road-map.payment{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-top: 100px;
}
.road-map.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.road-map.container .road-map-item{
    justify-content: normal;
    row-gap: 45px;
}

footer{
    background:#010101;
    margin-top: 50px;
    position: relative;
}
footer .content{
    padding: 30px 10px 0 10px;
}
footer .content .company-name{
    color: #222;
    font-family: 'Robodron', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14px */
    letter-spacing: 1.4px;

}
footer .content .mobile-phone{
    color: #FEFEFE;

    /* Txt / extra small light */
    font-family: "SF Pro Display 300", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.56px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
footer .content .mobile-phone span{
    color: #727272;

    /* Txt / 12 */
    font-family: "SF Pro Display 400";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.48px;
    margin-top: 5px;
}
.footer-navigation a{
    color: #C7C7C7;
    font-family: "SF Pro Display 100";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.48px;
}
.footer-navigation ul{
    margin-top: 55px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    position: absolute;
    width: 100%;
    top: 0;
}
.footer-navigation li{
    margin-bottom: 10px;
}
.documentation{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    justify-content: center;
    column-gap: 30px;
    left: 250px;
}
.documentation a{
    color: #727272;
    text-align: center;
    font-family: "SF Pro Display 400";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 13px */
    letter-spacing: 0.4px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}
.social-club{
    position: relative;
    margin-right: 30px;
}

.social-club a{
    color: #F64646;

    /* Txt / extra small light */
    font-family: "SF Pro Display 300";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.56px;
    position: relative;
    width: max-content;
}
.social-club:before{
    content: '';
    position: absolute;
    height: 16px;
    right: -17px;
    bottom: 0;
    border-right: 1px solid #F64646;
    transform: rotate(38deg);
}

.social-club:after{
    content: '';
    position: absolute;
    height: 11px;
    width: 11px;
    right: -22px;
    bottom: 4px;
    border-bottom: 1px solid #F64646;
    border-right: 1px solid #F64646;
    transform: rotate(270deg);
}
.copyright{
    color: #727272;
    font-family: "SF Pro Display 400";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 11.7px */
    letter-spacing: 0.36px;
    margin-top: 25px;
    padding-bottom: 10px;
}
.f{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f:last-child{
    flex-direction: row-reverse;
}