header {
    & .content {
        padding: 50px 0 200px 200px;

        & .burger-menu {
            display: none;
        }

        & .top-bar {
            display: flex;
            flex-direction: row;
            column-gap: 350px;
            align-items: center;

            & .nav-panel {
                & .item-list {
                    display: flex;
                    flex-direction: row;
                    column-gap: 50px;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

.wrapper{
    & .container{
        padding: 0 200px;
        & .main-menu{
            display: flex;
            flex-direction: row;
            column-gap: 100px;
            & .avatar-block{
                display: flex;
                flex-direction: column;
                row-gap: 40px;
                & .avatar-holder{
                    border-radius: 50%;
                    overflow: hidden;
                    width: 250px;
                    height: 250px;
                }
                & #profile-nickname{
                    text-align: center;
                    font-size: 22px;
                }
            }
            & .options-list{
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                position: relative;
                & #log-out{
                    width: 40px;
                    height:40px;
                    position: absolute;
                    right: 0;
                    top: -50px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover{
                        color:#F64646;
                    }
                }
                & .top-btns{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    column-gap: 50px;
                    font-family: "SF Pro Display 400", sans-serif;
                    font-size: 18px;
                    border-bottom: 1px solid #e6e6e6;
                    & div.open{
                        border-bottom: 1px solid black;
                        padding-bottom: 5px;
                    }
                }
                & .menu-display{
                    
                    & #cart{
                        display: none;
                        & .cart-is-empty{
                            display: none;
                            &.empty{
                                display: block;
                            }
                            & .sizing-button-container {

                                position: relative;
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                & .button-text {
                                    position: absolute;
                                    width: 100%;
                                    bottom: 40%;
                                    right: 0;
                                    text-align: center;

                                    & span {
                                        font-size: 16px;
                                        line-height: 130%;
                                        letter-spacing: 0.04em;
                                        text-align: center;
                                    }
                                }

                                & #ring {
                                    position: relative;
                                    top: 0;
                                    width: 180px;
                                    height: 180px;
                                    overflow: visible;
                                    transform: rotateZ(15deg);

                                    & #ring__circle {
                                        r: 90px;
                                        cx: 90px;
                                        cy: 90px;
                                        stroke-dasharray: calc(90* 2* 3.14);
                                        stroke-dashoffset: calc((90* 2* 3.14) - (90 / 100*(90* 2* 3.14)));
                                        transition: all 0.5s ease;

                                        &:hover {
                                            stroke-dashoffset: calc((90 * 2 * 3.14) - (0 / 100 * (90 * 2 * 3.14)));
                                        }
                                    }
                                }

                                & #arrow {
                                    position: absolute;
                                    top: 50%;
                                    left: 100%;
                                    width: 50px;
                                    border-bottom: 1px solid #0222A5;

                                    &:after {
                                        content: "";
                                        position: absolute;
                                        width: 8px;
                                        height: 8px;
                                        border-bottom: 1px solid #0222A5;
                                        border-right: 1px solid #0222A5;
                                        transform: rotateZ(-45deg);
                                        right: 0;
                                        top: -4px;
                                    }
                                }
                            }
                        }
                        &.open{
                            display: flex;
                            flex-direction: column;
                            row-gap: 50px;
                        }
                        & .cart-item-container{
                            display:flex;
                            flex-direction: row;
                            justify-content: space-between;
                            & .cart-product-information{
                                display: flex;
                                flex-direction: row;
                                column-gap: 50px;
                                & .cart-image-holder{
                                    width:100px;
                                    height: 150px;
                                    overflow: visible;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: #e6e6e6;
                                    & img{
                                        max-height: 100%;
                                        max-width: 100%;
                                        width: auto;
                                        height: auto;
                                    }
                                }
                                & .cart-product-text-info{
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: 30px;
                                    & .title{
                                        font-size: 20px;
                                    }
                                }
                                & .cart-price{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    & span{
                                        font-size: 18px;
                                        &.sale{
                                            font-size: 14px;
                                            text-decoration: line-through;
                                            color: #C7C7C7;
                                        }
                                    }
                                }
                            }
                            & .buttons-holder{
                                width: 50px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                & .delete-btn{
                                    width: 25px;
                                    height: 25px;
                                }
                            }
                            
                        }
                    }
                    
                }
            }
        }
    }
}