.burger-menu{
    display: none;
}
.modal-content {
    display: none;
}
.ui-widget-header{
    border: none;
    background: none;
}
.ui-widget-overlay {
    background: #222;
    opacity: 0.7;
}
div[aria-labelledby="ui-id-20"] {
    position: relative;
    & .ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
        visibility: hidden;


        &:before {
            content: "";
            position: absolute;
            width: 20px;
            height: 1px;
            right: 50%;
            top: 50%;
            border-bottom: 1px solid #222;
            transform: rotateZ(45deg);
            visibility: visible;
        }

        &:after {
            content: "";
            position: absolute;
            width: 20px;
            height: 1px;
            right: 50%;
            top: 50%;
            border-bottom: 1px solid #222;
            transform: rotateZ(-45deg);
            visibility: visible;
        }
    }
    & .content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 40px;
        & span{
            text-align: center;
            font-size: 14px;

            padding: 0 100px;
        }
        & .phone{
            flex: 1;
            display: flex;
            flex-direction: row;
            & .input{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 0 0 34px;
                & input{
                    font-size: 20px;
                    border: none;
                    background-color: #fff;
                    border-bottom: 1px solid #222;
                    color: #222;
                    &:focus-visible{
                        outline: none;
                    }
                    &.error{
                        border-color:red;
                    }
                }
                & span{
                    font-size: 12px;
                    padding: 0;
                    text-align: justify-all;
                    & span{
                        color: #02f
                    }
                }
                & #error-phone-placeholder{
                    display: none;
                    &.enabled{
                        display: block;
                        color: red;
                        font-size: 13px;
                    }
                }
            }
            & .circle-btn{
                flex: 1;
                display: flex;
                justify-content: center;
                & .text {
                    color: #fff;
                    width: 100px;
                    height: 100px;
                    background-color: #20a;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-content: center;
                }
            }
        }
        & #complete{
            display: none;
            &.enabled{
                background: #fff;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                width: 100%;
                height: 90%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 40px;
                & .title{
                    font-size: 20px;
                }
                & .text{
                    font-size: 16px;
                    color: #c7c7c7;
                }
                & .check{
                    width: 70px;
                    height: 30px;
                    border-left: 5px solid #02f;
                    border-bottom: 5px solid #02f;
                    border-radius: 5px;
                    transform: rotateZ(-45deg);
                }
            }
        }
    }
}

.ui-resizable-handle.ui-resizable-s{
    &.width-0 {
        background: #222;
        width: 0%;
        transition: width 5s ease;
    }
}

.make-order{
    display: flex;
    justify-content: flex-end;
    margin-top: 200px;
    padding: 0 200px 0 0;
    & #order-content{
    padding: 0 200px 0 0;
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        &.complete{
            & .phone {
                & .input {
                    & input {
                        border-bottom: 1px solid #c7c7c7;
                        color: #c7c7c7;
                        font-family: "SF Pro Display 400", sans-serif;
                        padding-bottom: 5px;

                    }
                }
                & .circle-btn{
                    & .text {
                        background: transparent;
                        border: 1px solid #c7c7c7;
                        color: #c7c7c7
                    }}
            }
            & span{
                & a{
                    color: #c7c7c7;
                }
            }
        }
        & span{
            width: 60%;
            color: #000;
            font-size: 18px;
            &:nth-child(2){
                color: #727272;
                font-size: 12px;
                width: 100%;
            }
            & a{
                color: #0222A5;
            }
        }
        & span.bottom{
            color: #C7C7C7;
            font-size: 12px;
            width: 100%;
            & span{
                color: #0222A5;
                font-size: 12px;
            }
        }
        & .phone{
            display: flex;
            flex-direction: row;
            & .input {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                & input {
                    border-bottom: 1px solid #222;
                    font-size: 14px;
                    font-family: "SF Pro Display 400", sans-serif;
                    padding-bottom: 5px;
                    &.error{
                        border-color: red;
                    }
                }

                & #order-error-phone-placeholder {
                    display: none;

                    &.enabled {
                        display: block;
                        color: red;
                        font-family: "SF Pro Display 400", sans-serif;
                    }
                }
            }
            & .circle-btn{
                flex: 1;
                display: flex;
                justify-content: center;
                position: absolute;
                top: -30px;
                right: 0;
                & .text {
                    color: #fff;
                    width: 150px;
                    height: 150px;
                    background-color: #20a;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    font-family: "SF Pro Display 400", sans-serif;
                    flex-wrap: wrap;
                    align-content: center;
                }
            }
        }
        
    }
}
div[aria-labelledby="ui-id-1"] {
    & .ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
        visibility: hidden;
        &:before {
            content: "";
            position: absolute;
            width: 20px;
            height: 1px;
            right: 50%;
            top: 50%;
            border-bottom: 1px solid #222;
            transform: rotateZ(45deg);
            visibility: visible;
        }

        &:after {
            content: "";
            position: absolute;
            width: 20px;
            height: 1px;
            right: 50%;
            top: 50%;
            border-bottom: 1px solid #222;
            transform: rotateZ(-45deg);
            visibility: visible;
        }
        
    }
    & #auth-modal{
        display: flex;
        justify-content: center;
        align-items: center;
        & .access-granted, .access-denied, .auth-access-pin, .content{
            display: none;
            &.open{
                display: flex;
                flex-direction: column;
            }
        }
        & .content{
           
            align-items: center;
            row-gap: 10px;
            & .title{
                display: flex;
                flex-direction: column;
                align-items: center;
                & span {
                    &:first-child {
                        font-size: 20px;
                    }

                    &:last-child {
                        font-size: 16px;
                    }
                }
            }
            & .input{
                width: 100%;
                & label{
                    
                    display: flex;
                    flex-direction: row;
                    column-gap: 5px;
                    align-items: center;
                    & input{
                        width:100%;
                        border-bottom: 1px solid #222;
                        padding-bottom: 5px;
                        text-align: center;
                        &[type="checkbox"]{
                            width: 20%;
                            height: 20%;
                           
                        }
                    }
                    & span{
                        font-size: 18px;
                    }
                }
            }
            & .info{
                font-size: 14px;
                color: #c7c7c7;
                text-align: center;
            }
            & .access-btn{
                font-size: 18px;
                background-color: #0222A5;
                color: #fff;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}