.modal-content {
    display: none;
}
.ui-widget-header{
    border: none;
    background: none;
}
.ui-widget-overlay {
    background: #222;
    opacity: 0.7;
}
div[aria-labelledby="ui-id-19"] {
    position: relative;
    & .ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
        visibility: hidden;


        &:before {
            content: "";
            position: absolute;
            width: 20px;
            height: 1px;
            right: 50%;
            top: 50%;
            border-bottom: 1px solid #222;
            transform: rotateZ(45deg);
            visibility: visible;
        }

        &:after {
            content: "";
            position: absolute;
            width: 20px;
            height: 1px;
            right: 50%;
            top: 50%;
            border-bottom: 1px solid #222;
            transform: rotateZ(-45deg);
            visibility: visible;
        }
    }
    & .content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 40px;
        & span{
            text-align: center;
            font-size: 14px;

            padding: 0 100px;
        }
        & .phone{
            flex: 1;
            display: flex;
            flex-direction: row;
            & .input{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 0 0 34px;
                & input{
                    font-size: 20px;
                    border: none;
                    background-color: #fff;
                    border-bottom: 1px solid #222;
                    color: #222;
                    &:focus-visible{
                        outline: none;
                    }
                    &.error{
                        border: 1px solid red;
                    }
                }
                & span{
                    font-size: 12px;
                    padding: 0;
                    text-align: justify-all;
                    & span{
                        color: #02f
                    }
                }
                & #error-phone-placeholder{
                    display: none;
                    &.enabled{
                        display: block;
                        color: red;
                        font-size: 13px;
                    }
                }
            }
            & .circle-btn{
                flex: 1;
                display: flex;
                justify-content: center;
                & .text {
                    color: #fff;
                    width: 100px;
                    height: 100px;
                    background-color: #20a;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-content: center;
                }
            }
        }
        & #complete{
            display: none;
            &.enabled{
                background: #fff;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                width: 100%;
                height: 90%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 40px;
                & .title{
                    font-size: 20px;
                }
                & .text{
                    font-size: 16px;
                    color: #c7c7c7;
                }
                & .check{
                    width: 70px;
                    height: 30px;
                    border-left: 5px solid #02f;
                    border-bottom: 5px solid #02f;
                    border-radius: 5px;
                    transform: rotateZ(-45deg);
                }
            }
        }
    }
}

.ui-resizable-handle.ui-resizable-s{
    &.width-0 {
        background: #222;
        width: 0%;
        transition: width 5s ease;
    }
}
header{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url("/source/images/main-background/main-background.jpeg");
    background-position: center center;
    background-size: cover;
    height: 350px;
    width: 100%;
    padding-bottom: 12px;
}

.nav-panel{
    display: none;
}
.burger-menu{
    display: block;
    position: absolute;
    width: 118px;
    height: 118px;
    margin-right: 10px;
    margin-top: -19px;
    right: 0;
    top: 0;

}
.burger-button{
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.burger-button:before{
    content:"";
    display: block;
    width: 118px;
    height: 118px;
    background-color: rgba(0, 0, 0, 0.60);
    position: relative;
    border-radius: 50%;
    transition: all 0.1s ease-in;

}
header .content{
    width: 300px;
    padding: 30px 50px 0 8px;
    justify-content: space-between;
}
.burger-menu:active{
    .burger-button:before{
        width: 100px;
        height: 100px;
    }
    .burger-button span{
        font-size: 15px;
    }
}
.burger-button span {
    color: #fefefe;
    font-size: 14px;
    position: absolute;
    transition: all 0.1s ease-in;

}
.close {
    width: 26.87px;
    height: 26.87px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    right: -65%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}
.close:before,
.close:after {
    content: '';
    display: block;
    width: 37px;
    height: 1px;
    background-color: #c7c7c7;
    position: relative;
    cursor: pointer;
}
.close:before{
    transform: rotate(-45deg);
    top: 0;
    left: 0;
}
.close:after{
    transform: rotate(45deg);*
top: 100%;
    left: 0;
}
.burger-list-container{
    left: 100%;
    height: 100%;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    background-color: #fefefe;
    transition: all 0.5s ease;
}
.burger-list-container.active{
    left: 20%;
}

.burger-list-container .item-list li{
    padding-bottom: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
    border-bottom: 1px solid #e6e6e6;
    width: 95%;
    cursor: pointer;
}
.burger-list-container .item-list li.accordion{
    position: relative;
    transition: all 0.5s ease;
}
.burger-list-container .item-list li.accordion:before{
    content:"";
    position:absolute;
    left: 65px;
    top: 4px;
    width:8px;
    height: 8px;
    transform: rotate(45deg);
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
}
.accordion-list-items{
    height: 0;
    overflow: auto;
    transition: all 0.5s ease;
}
.accordion-list-items li{
    margin-bottom: 5px;
}
.accordion-list-items.active{
    padding-top: 15px;
    overflow: hidden;
    height: 210px;
    .accordion:before{
        transform: rotate(-45deg)
    }
}
.burger-list-container .item-list li:last-child{
    padding-top: 12px;
}
.burger-list-container .item-list li:last-child,
.burger-list-container .item-list li:nth-child(5){
    border: none;
}

.burger-list-container .item-list li:last-child a{
    color: #0222A5;

    /* Txt / extra small light */
    font-family: "SF Pro Display 300";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.56px;
}
.item-list{
    position: relative;
}
.burger-list-container .item-list li .main-arrow-item{
    border-bottom: 1px solid #0222A5;
    height: 1px;
    width: 200px;
    left:0;
    position: relative;
    transition: all 0.4s ease-in;

}
.burger-list-container .main-arrow-item:before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    right: 0;
    top: -2.5px;
    transform: rotate(-45deg);
    border-bottom: 1px solid #0222A5;
    border-right: 1px solid #0222A5;
    z-index: 0;
}
.burger-list-container .main-arrow-item .circle{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
}
.burger-list-container .main-arrow-item .circle:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border:1px solid #0222A5;
    border-radius: 50%;
}

.consult-but {
    margin-top: 22px;
    padding-bottom: 13px;
    width: 220px;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
    align-items: center;
    cursor:pointer;
}

.consult-but.text {
    font-size: 14px;
    letter-spacing: 0.56px;
    font-family: "SF Pro Display 300";
    border: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-bottom: 13px;
}
.main-arrow-item{
    border-bottom: 1px solid #e6e6e6;
    height: 1px;
    width: 200px;
    right: 20px;
    position: absolute;
    transition: all 0.4s ease-in;

}
.main-arrow-item:before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    right: 0;
    top: -2.5px;
    transform: rotate(-45deg);
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    z-index: 0;
}
.main-arrow-item .circle{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
    right: -25px;
}
.main-arrow-item .circle:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border:1px solid #e6e6e6;
    border-radius: 50%;
}
.consult-but:hover {
    .main-arrow-item{
        width: 60%;
    }
}
.advantages-list{
    margin-top: 150px;
}
.advantages-list .items-list span{
    margin-bottom: 30px;
    padding-top: 4px;
    position: relative;
}
.advantages-list .items-list span:before{
    content: "";
    width: 50px;
    border-top: 1px solid #e6e6e6;
    position: absolute;
    left: 0;
    top:0;

}
.advantages-list .items-list  {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
main{
    margin-top: 334px;

}
main .content{
    padding-left: 8px;
    padding-right: 8px;
}
.bread{
    margin-bottom: 40px;
}
.bread-text{
    color: #727272;

    /* Txt / extra small */
    font-family: "SF Pro Display 400";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.56px;
}
.price-list-title{
    color:  #010101;
    font-family: "SF Pro Display 400";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    letter-spacing: 0.4px;
    width: 50%;
    display: inline-block;
}
.price-list-table{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}
.price-list-table div{
    color: #222;

    /* Txt / 12 */
    font-family: "SF Pro Display 400";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.48px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    width: 90%;
}


.description .bread{
    margin-top: 130px;
}
.description .description-main-title{
    margin-bottom: 10px;
}
.main-title-item{
    color: #010101;
    font-size: 18px;
    font-family: "SF Pro Display 400";
    line-height: 120%; /* 21.6px */
    letter-spacing: 0.36px;
}
.title-item{
    color: #010101;
    font-family: "SF Pro Display 400";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    letter-spacing: 0.32px;
}
.text-item{
    color: #222;

    /* Txt / 12 */
    font-family: "SF Pro Display 400";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.48px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.description {
    margin-bottom: 130px;
}

.expert-name-image{
    font-family: "Robodron";
    
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 28px */
    letter-spacing: 2.8px;

    background: url("/source/images/expert-name-background.jpeg") center center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.catalog-transporter{
    margin-top: 50px;
}

.catalog-item .catalog-transporter-title{
    color: #010101;
    font-family: "SF Pro Display 400";
    font-size: 20px;
    font-style: normal;
    line-height: 120%; /* 24px */
    letter-spacing: 0.4px;
    margin-bottom: 10px;
}
.catalog-item .catalog-item-text{
    margin-bottom: 20px;
}
.catalog-item .item-text{
    color: #222;

    /* Txt / 12 */
    font-family: "SF Pro Display 400";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.48px;
}
.catalog-transporter-button{
    margin-bottom: 52px;
}
.catalog-transporter-button a{
    color: #0222A5;

    /* Txt / extra small */
    font-family: "SF Pro Display 400";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.56px;
}
.catalog-item .main-arrow-item{
    border-bottom: 1px solid #0222A5;
    height: 1px;
    width: 200px;
    left: 8px;
    position: absolute;
    transition: all 0.4s ease-in;
    margin-top: 7px;
}
.catalog-item .main-arrow-item:before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    right: 0;
    top: -2px;
    transform: rotate(-45deg);
    border-bottom: 1px solid #0222A5;
    border-right: 1px solid #0222A5;
    z-index: 0;
}
.catalog-item .main-arrow-item .circle{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
}
.catalog-item .main-arrow-item .circle:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border:1px solid #0222A5;
    border-radius: 50%;
}
.catalog-item .catalog-transporter-button:hover {
    .catalog-transporter-button .main-arrow-item{
        width: 60%;
    }
}
.catalog-transporter-image{
    margin-bottom: 100px;
    max-height: 200px;
    max-width: 300px;
}
.catalog-transporter-image .image{
    width: 100%;
    height: 200px;
}
.catalog-transporter-image .image#first-catalog-transporter-image{
    background: url("/source/images/catalog-transporter-room-image.png") no-repeat center right;
    background-size: cover;

}
.catalog-transporter-image .image#second-catalog-transporter-image{
    background: url("/source/images/catalog-transporter-home-image.jpeg") no-repeat center center;
    background-size: cover;
}

.description-accordion{
    margin-top: 30px;
}
.text-item p{
    color: #222;

    /* Txt / 12 */
    font-family: "SF Pro Display 400";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.48px;
    margin-bottom: 10.44px;
}
.text-item p:first-child{
    margin-top: 20px;
}
.accordion-item-title{
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 20px;

    color: #010101;

    /* Txt / 12 */
    font-family: "SF Pro Display 400";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.48px;
}
.accordion-item-title#first{
    padding-top: 20px;
    border-top: 1px solid #e6e6e6;
}
.accordion-item-title#last{
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}
.accordion-item-content,.accordion-item-content p{
    color: #222;

    /* Txt / extra small light */
    font-family: "SF Pro Display 300";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.56px;
}

.accordion-item-title:before{
    content:"";
    position:absolute;
    right: 3.7px;
    border-right: 1px solid #0222A5;
    height: 13px;
}
.accordion-item-title:after{
    content:"";
    position:absolute;
    right: 2px;
    top: 7px;
    width: 5px;
    height: 5px;
    border-right: 1px solid #0222A5;
    border-bottom: 1px solid #0222A5;
    transform: rotate(45deg);
}.accordion-item-title:after.active{
     content:"";
     position:absolute;
     right: 2px;
     top: 7px;
     width: 5px;
     height: 5px;
     border-right: 1px solid #0222A5;
     border-bottom: 1px solid #0222A5;
     transform: rotate(225deg);
 }
.accordion-item-title#first:after{
    content:"";
    position:absolute;
    right: 2px;
    top: 27px;
    width: 5px;
    height: 5px;
    border-right: 1px solid #0222A5;
    border-bottom: 1px solid #0222A5;
    transform: rotate(45deg);
}

.security{
    margin-top: 130px;
}
br{
    height:5px;
}
.info .title-item .title{
    color:  #010101;
    font-family: 'SF Pro Display 400';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */

}
.info .title-item .title-div{
    padding-bottom: 20px;
}
.info .title-item .item p{
    color: var(--Grey-1, #222);

    /* Txt / 12 */
    font-family: "SF Pro Display 400";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.48px;
}

.info-body{
    margin-top: 50px;
}
.info-body .title{
    margin-bottom: 20px;

    color: #010101;
    font-family: "SF Pro Display 300";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 19.2px */
    letter-spacing: 0.32px;
}
.info-body .text-content{
    color: var(--Black, #010101);

    /* Txt / extra small */
    font-family: "SF Pro Display 400";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.28px;


    margin: 20px 0 20px 0;
    height: 73px;
    overflow: hidden;
    transition: all 0.5s ease-in;
}
.show-btn{
    color: var(--Black, #010101);

    /* Txt / extra small */
    font-family: "SF Pro Display 400";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.56px;

    position:relative;
}
.show-btn:before{
    content: "";
    position:absolute;
    left:95px;
    border-right: 1px solid #0222A5;
    height:10px;
}
.show-btn:after{
    content:'';
    position:absolute;
    left:92.4px;
    top:5px;
    width: 6px;
    height: 6px;
    border-right: 1px solid #0222A5;
    border-bottom:1px solid #0222A5;
    transform: rotate(45deg);
}

.anti-srez .text-content.active{
    height:415px;
}

.anti-thief{
    margin-top: 70px;
}
.small-image{
    max-height: 300px;
    max-width:100%;
    background: #f2f2f2
}
.small-image .background{
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}
.small-image img{
    max-width: 94px;
    max-height: 212px;
    margin-left: 103px;
    padding: 20px 0;
}
.anti-thief .text-content{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 52px;
    overflow: hidden;
    transition: all 0.5s ease-in;
}
.anti-thief .text-content.active{
    height: 280px;
}
.info-body .text-content p{
    color: var(--Black, #010101);

    /* Txt / extra small */
    font-family: "SF Pro Display 400";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.28px;
}

.info-body .text-content p span{
    color: var(--Grey-1, #222);

    /* Txt / extra small */
    font-family: "SF Pro Display 400";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.56px;
}
.more-security{
    margin-top: 70px;
}
.more-security .text-content.active{
    height:415px;
}

footer{
    background:#010101;
    margin-top: 50px;
}
footer .content{
    padding: 30px 10px 0 10px;
}
footer .content .company-name{
    color: var(--Grey-1, #222);
    font-family: 'Robodron';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14px */
    letter-spacing: 1.4px;

}
footer .content .mobile-phone{
    color: var(--White, #FEFEFE);

    /* Txt / extra small light */
    font-family: "SF Pro Display 300";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.56px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
footer .content .mobile-phone span{
    color: var(--Grey-2, #727272);

    /* Txt / 12 */
    font-family: "SF Pro Display 400";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.48px;
    margin-top: 5px;
}
.footer-navigation a{
    color: var(--Grey-4, #C7C7C7);
    font-family: "SF Pro Display 300";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.48px;
}
.footer-navigation ul{
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer-navigation li{
    margin-bottom: 10px;
}
.documentation a{
    color: var(--Grey-2, #727272);
    text-align: center;
    font-family: "SF Pro Display 400";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 13px */
    letter-spacing: 0.4px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.social-club a{
    color: var(--Red-1, #F64646);

    /* Txt / extra small light */
    font-family: "SF Pro Display 300";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.56px;
    position: relative;
    width: max-content;
}
.social-club:before{
    content: '';
    position: absolute;
    height: 13px;
    left: 82px;
    border-right: 1px solid #F64646;
    transform: rotate(38deg);
}

.social-club:after{
    content: '';
    position: absolute;
    height: 9px;
    width: 9px;
    left: 79px;
    border-bottom: 1px solid #F64646;
    border-right: 1px solid #F64646;
    transform: rotate(270deg);
}
.copyright{
    color: var(--Grey-2, #727272);
    font-family: "SF Pro Display 400";
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 11.7px */
    letter-spacing: 0.36px;
    margin-top: 25px;
    padding-bottom: 10px;
}